*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    /* fallback for old browsers */
    background: #56ab2f;  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
    background: linear-gradient(to right, #a8e063, #56ab2f); 
}

h1{
    font-size: 4rem;
}